<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Progress</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <img src="assets/images/Functional Training Garage Gym.jpeg" alt="homebackground" class="home-background" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Overall Completion</ion-card-title>
      <ion-card-subtitle>{{ overallCompletion }}%</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar [value]="overallCompletion / 100" color="success"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let workout of getWorkoutKeys()">
    <ion-card-header>
      <ion-card-title>{{ workout }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let exercise of completedExercisesMap[workout]">
          <ion-label>
            ✅ {{ exercise }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" (click)="resetProgress()">
    Reset Progress
  </ion-button>
</ion-content>
