.home-page {
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  z-index: -1;
}

