.welcome-content {
  --background: none;
  background: url('/assets/welc.png') no-repeat center center / cover;
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}


.start-btn {
  --background: white;
  --color: #e50914;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
}

// .disclaimer-container {
//   margin-top: 8px;
// }
// .disclaimer {
//   font-size: 12px;
//   color: #ffffff;
//   text-align: center;
//   margin-top: 8px;
//   opacity: 0.8;
// }
